html, body, #view-div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#inset-div {
display: none;
position: absolute;
top: 12px;
right: 12px;
width: 400px;
height: 266.667px;
border: 1px solid black;
z-index: 1;
overflow: hidden;
}

#header-title {
margin-left: 1rem;
margin-right: 1rem;
}

#logo {
vertical-align: middle;
width: 200px;
margin: 5px;
}

#header-title h2 {
display: inline-block;
vertical-align: middle;
}

#menu { 
float: left;
margin-top: 13.92px;
}

#toolbar {
height: 100%;
position: absolute;
}

#route-toolbar {
display: none;
position: absolute;
left: calc(50% - 120px);
top: 15px;
}

#color-picker {
display: none;
position: absolute;
right: 15px;
top: 15px;
}

#waypoint-list {
display: none;
background-color: white;
border: 3px solid black;
}

#search-div {
float: left;
margin: 21.92px;
}

#switch-btn {
border: none;
}

#pointer-coords {
text-align: right;
margin-right: 5px;
font-size: 9pt;
}

#layer-list {
padding: 0px !important;
}

.esri-layer-list__item-container {
padding: 12px 5px 12px 5px !important;
}

.esri-expand__content {
overflow-y: scroll !important;
}

.list-container {
max-height: 200px !important;
}

#filter-container {
background-color: white;
padding: 1rem;
width: max-content;
}

.filter-switch {
margin-right:0px;
margin-left:auto;
padding-top:12px;
}

.condition-selector {
margin-bottom: 10px;
}

#elevation-profile {
height: -webkit-fill-available;
width: -webkit-fill-available;
}

#waypoint-table td {
text-align: center;
border: 1px solid black;
border-collapse: collapse;
}

#waypoint-table {
border-collapse: collapse;
}

#save-vertices {
display: none;
padding: 10px;
}